@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@media (max-width: 767px) {
	.box-balance {
		width: 1/2;
	}
}

.box-balance {
	width: 2/5;
}

@layer components {
	.btn.btn-outline {
		@apply bg-bg-white text-base-content border border-base-200;
	}
	.btn-outline:hover {
		@apply border-seconday-light text-seconday-light;
	}
}
